{% extends 'base.html' %}

{% block content %}
<div class="top-bar">
    <div>Level: Junior</div>
    <div>Рейтинг: 15</div>
    <button class="airdrop-button">
        <img src="/static/images/coin.png" class="coin-icon" alt="Coin Icon">
        Airdrop
    </button>
</div>

<div class="content">
    <img src="/static/images/product_coin.png" alt="Product Coin" class="airdrop-coin-img">
    <h2>Product Coin</h2>
    <p>Дата: TBA</p>
    <div class="conditions">
        <div>Друзей: Мин. 2, у вас 0</div>
        <div>Product Coins: Мин. 50000, у вас 0</div>
        <div>Другое: TBA</div>
    </div>
</div>
{% endblock %}
