{% extends 'base.html' %}

{% block title %}Главная - PCoin{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="top-bar">
        <div class="level">Level: Junior</div>
        <div class="separator"></div>
        <div class="rating">Рейтинг: 15</div>
        <div class="separator"></div>
        <button class="airdrop-button" onclick="window.location.href='/airdrop'">
            <img src="/static/images/coin.png" alt="Coin" class="coin-icon"> Airdrop
        </button>
    </div>
    <div class="income-info">
        <span>Доход в час</span>
        <div class="income-amount">
            <img src="/static/images/coin.png" alt="Coin Icon" class="coin-icon">
            <span>50000</span>
        </div>
    </div>


    <div class="user-info">
        <div class="coin-info">
            <span>Всего монет</span>
            <div class="coin-amount">
            <img src="/static/images/coin.png" alt="Coin" class="coin-icon">
            <span>50000</span>
        </div>
    </div>
        <img src="/static/images/character.png" alt="Character" class="user-image" onclick="handleCharacterClick()">
    </div>

</body>
</html>

<script>
function handleCharacterClick() {
    alert("Персонаж нажат!");
}
</script>


{% endblock %}
